<h1>Shake it!</h1>
<p>An overview of the best cocktails in space.</p>

<% @cocktails.each do |cocktail| %>
<h2> <%= cocktail.name %> </h2>
<%= link_to "View", cocktail_path(cocktail) %>
<% end %>


<%= link_to "Create new cocktail", new_cocktail_path %>
